body {
    margin: 0;
    font-family: 'Changa', sans-serif;
}
.sidebar-2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #CA5310;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 40px;
}
li a {
    display: block;
    color: #ffffff; /*color de letra*/
    padding: 15px 18px;
    text-decoration: none;
    text-align:center;
}
.sidebar-2 .desplegable{
    background-color: #ffffff75;
    color: #CA5310; /* no lo toma*/
}
  
li a:hover:not(.active) {
    background-color: #ece3e391;
    color: white;
}
li {
    border-bottom: 1px solid rgba(0,0,0, 0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}
/*separacion y color iconos*/
i{
    margin: 0 18px;
}
#mainContent{
    margin-left: 17%; /*hace q el main content sea mas chico que el ancho de la barra*/
    padding: 1px 16px;
    height: 1000px;
}
/*titulo  y margen*/
#mainContent h1{
    margin-left: 33%;
    color: #CA5310;
    margin-top: 3%;
}
.sidebar-2 li .desplegable{
    display: block;
}
.sidebar-2 li .sub-menu{
    list-style-type: none;
    padding: 0;
}
.sidebar-2 li .sub-menu a{
    font-size: 15px;
}
/*productos con blanco*/
.sidebar-2 li .sub-menu a.active{
    background-color: #dadada42;
}
/* para mover la imagen*/
#mainContent .imagen{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-35%, -25%);
}
.boton-categoria{
    background-color: red;
    

}

/* se supone q esto hace la barra apta para telefonos (@media screen) */
@media screen and (max-width: 900px) {
    ul.sidebar-2 {
      width: 100%;
      height: auto;
      position: relative;
    }
    
    ul.sidebar-2 li a {
      float: left;
      padding: 15px;
    }
    
    div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
    ul.sidebar-2 li a {
      text-align: center;
      float: none;
    }
}

/* menu horizontal */
  
  /* Estilos para el contenedor de los campos */
  .scrollmenu {
    display: flex; /* Utiliza flexbox para alinear los campos horizontalmente */
    margin: 0;
    background-color: white; /* Color de fondo del contenedor */
    padding: 0; /* Espacio interno */
    border: none; /* Borde alrededor del contenedor */
}

/* Estilos para los campos de texto */
.scrollmenu a {
    display: inline-flex; /* Hace que los campos se muestren en línea */
    color: #CA5310; /* Color del texto */
    padding: 2vh 33.5vh 2vh 33.5vh; /* Espacio interno de cada campo */
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
    border: 2px solid #CA5310; /* Borde alrededor de cada campo */
    background-color: white;
}

/* Estilos para el espacio entre los campos */
.scrollmenu a + a {
    margin-left: 0px; /* Espacio entre los campos */
}

div.scrollmenu a:hover {
    background-color: #E3C9AC;
  }

/* Estilos para la barra de búsqueda */

.topnav {
  overflow: hidden;
  background-color: white;
  margin-top: 10px;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
}

/* Estilo para el botón redondo */
.round-button {
  width: 40px; /* Establece el ancho del botón igual al diámetro deseado */
  height: 40px; /* Establece la altura del botón igual al diámetro deseado */
  border-radius: 50%; /* Hace que el borde del botón sea circular */
  background-color: #0074cc; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  font-size: 24px; /* Tamaño de la fuente */
  cursor: pointer;
  display: flex; /* Cambia el comportamiento de visualización a "flex" */
  justify-content: center; /* Centra horizontalmente el contenido en el botón */
  align-items: center; /* Centra verticalmente el contenido en el botón */
}

.topnav .search-container button .fa-plus{
  float: left;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 3px;
  margin-top: 8px;
  margin-right: 75px;
  font-size: 17px;
  border-radius: 15px;
  border:1px solid #CA5310;
}

.topnav .search-container button {
  float: left;
  color: #CA5310;
  background: white;
  padding: 3px;
  margin-top: 8px;
  margin-right: 35px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #CA5310;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.topnav .search-container button:hover {
  background: #E3C9AC;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/* estilo de la tabla */

.table{
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
    width: 50px;
}


.table th, .table td{
  padding: 4 px;
  border-bottom: 1px solid #CA5310;
}

.table tr{
    color: #8F250C;
}

.table td .fa-pencil, .table td .fa-trash{
    color: #CA5310;
}

