<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<footer>
    <div class="footer">
        <img src="../static/images/logofooter.svg" alt="logo">
        <div class="footer-contenedor">
            <div class="footer-contenedor-data">
                <h5 class="footer-contenedor-data-texto">Horarios</h5>
                <h6 class="footer-contenedor-data-subtexto">10:00 am a 23:00 pm</h6>
            </div>
            <div class="footer-contenedor-data">
                <h5 class="footer-contenedor-data-texto">Direccion</h5>
                <h6 class="footer-contenedor-data-subtexto">Italia 1952 Ciudad</h6>
            </div>
            <div class="footer-contenedor-data">
                <h5 class="footer-contenedor-data-texto">Telefonos</h5>
                <h6 class="footer-contenedor-data-subtexto">+54 261 611 6345</h6>
                <h6 class="footer-contenedor-data-subtexto">+54 261 612 6678</h6>
            </div>
        </div>
        <div class="footer-contenedor-apps">
            <img src="../static/images/icons/FacebookIcon.svg" class="footer-contenedor-apps-logo" alt="facebook">
            <img src="../static/images/icons/TwitterIcon.svg" class="footer-contenedor-apps-logo" alt="twitter">
            <img src="../static/images/icons/InstagramIcon.svg" class="footer-contenedor-apps-logo" alt="instagram">
        </div>
    </div>
</footer>
</body>
</html>